<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneproject.www.smartoday">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 추가 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/one"
        android:label="@string/app_name"
        android:roundIcon="@drawable/one_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.oneproject.www.smartoday" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".IotActivity" />
        <activity
            android:name=".ListActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".UserListActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".DiscoveryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MemberAddActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SubwaySearch"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".BusActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name=".UserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".weather_select"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".IotListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>